# Listas

* Ordenadas: mantêm a ordem de inserção de dados.
* Mutáveis: podemos modificar seus items.
* Heterogêneas: contêm dados de diferentes tipos.
* Contêm duplicatas: permite valores duplicados, porque sua ordem é baseada no índice e não no conteúdo.

#### Formas de criar e recuperar/exibir valores de uma lista

In [1]:
lista1 = [28, 38, 48]
lista2 = list([28, 38, 48, ['Lucas']]) #converte para o tipo 'lista'

print(lista1)
print(lista2)

[28, 38, 48]
[28, 38, 48, ['Lucas']]

In [2]:
lista1[0]

28

In [3]:
lista2[3]

['Lucas']

In [4]:
lista2[3][0][0:2]

'Lu'

In [5]:
lista2[-1]

['Lucas']

In [6]:
lista2[-2]

48

In [7]:
lista2[-3]

38

In [8]:
lista1.append("Quemelli")
lista1

[28, 38, 48, 'Quemelli']

In [9]:
lista1.insert(3, "Lucas")
lista1

[28, 38, 48, 'Lucas', 'Quemelli']

#### Formas de deletar elementos de uma lista

Usamos a função *pop* para remover e retornar o último elemento de uma lista:

In [10]:
ultimo = lista1.pop()
ultimo

'Quemelli'

In [11]:
lista1

[28, 38, 48, 'Lucas']

A função *pop* também pode ser utilizada para remoção de elementos por índice:

In [12]:
lista1.pop(2)
lista1

[28, 38, 'Lucas']

Para removermos um elemento em específico, usamos a função *remove*, como abaixo:

In [13]:
lista1.remove('Lucas')
lista1

[28, 38]

Em caso de elementos repetidos em uma lista, a função *remove* deleta apenas o primeiro elemento que aparecer (em ordem crescente de índices):

In [16]:
lista3 = [12, 14, 17, 25, 14, 70, 14]
lista3

[12, 14, 17, 25, 14, 70, 14]

In [17]:
lista3.remove(14)
lista3

[12, 17, 25, 14, 70, 14]

Para deletar todos os elementos de uma lista, fazemos:

In [19]:
lista3.clear()
lista3

[]

Para deletar a lista, fazemos:

In [23]:
del lista3
lista3

NameError: name 'lista3' is not defined

Ou podemos deletar apenas um elemento da lista utilizando seu índice:

In [24]:
lista3 = [20, 12, 21, 35, 41, 58, 62]
del lista3[0]
lista3

[12, 21, 35, 41, 58, 62]

Também podemos deletar uma sequência de elementos utilizando seus índices:

In [25]:
del lista3[0:3]
lista3

[41, 58, 62]

#### Substituir um valor da lista

In [14]:
lista1

[28, 38]

In [15]:
lista1[0] = 33
lista1

[33, 38]

# Tuplas

* Ordenadas.
* Heterogêneas.
* Contém duplicatas.
- **Imutáveis**.

São muito parecidas com as listas, apenas com uma diferença: uma vez criadas não podem ser alteradas.

As tuplas são mais performáticas do que as listas, já que não estão associadas às funções de alteração de conteúdo. Por isso, geralmente são utilizadas tuplas - quando não há necessidade de alterar os dados - para melhorar a performance.

#### Formas de criar e exibir/recuperar uma tupla

In [26]:
tupla = (25, 35, 40, 55, 60)
tupla

(25, 35, 40, 55, 60)

In [28]:
tupla[0:2]

(25, 35)

#### Convertendo tupla para lista

Se houver a necessidade de alterar os dados de uma tupla, então, primeiro convertemos a tupla para lista e depois alteramos o conteúdo.

In [29]:
lista_tupla = list(tupla)
lista_tupla

[25, 35, 40, 55, 60]

In [30]:
lista_tupla[1] = 33
lista_tupla.insert(0, "Teste")
lista_tupla

['Teste', 25, 33, 40, 55, 60]

# Dicionários

Dicionários são conjuntos de chave e valor. No dicionário há um identificador e na frente dele um conteúdo.

* Desordenados: os itens de um dicionário são guardados sem um valor de índice. Contudo, podemos estabelecer uma ordem para as chaves durante a criação, como por exemplo: 0, 1, 2 e 3, nessa ordem. 
* Únicos: as chaves nos dicionários devem ser únicas.
* Mutáveis: podemos adicionar, remover ou modificar uma chave-valor após sua criação. 

As chaves de um dicionário devem ser únicas. Se tentarmos guardar um valor em uma chave já existente, o valor antigo será substituído.

In [31]:
dic = {
    0: 25,
    1: 45,
    2: 37,
    3: 98,
    4: 101
}

dic

{0: 25, 1: 45, 2: 37, 3: 98, 4: 101}

#### Substituição de valores em um dicionário

Uma das formas é adicionando um valor a uma chave já existente na própria estrutura do dicionário.

In [32]:
dic = {
    0: 25,
    1: 45,
    2: 37,
    3: 98,
    4: 101,
    0: 33
}

dic

{0: 33, 1: 45, 2: 37, 3: 98, 4: 101}

Outra forma é selecionando apenas a chave:

In [33]:
dic[2] = 47
dic

{0: 33, 1: 45, 2: 47, 3: 98, 4: 101}

#### Inserção de valores/conteúdos no dicionário

In [34]:
dic[5] = "Lucas"

In [35]:
dic

{0: 33, 1: 45, 2: 47, 3: 98, 4: 101, 5: 'Lucas'}

Podemos inserir uma chave do tipo texto:

In [38]:
dic['Sobrenome'] = 'Quemelli'
dic

{0: 33, 2: 47, 4: 101, 5: 'Lucas', 'Sobrenome': 'Quemelli'}

Podemos adicionar listas dentro de um dicionário:

In [39]:
dic['lista'] = ["Hello", "World"]
dic

{0: 33,
 2: 47,
 4: 101,
 5: 'Lucas',
 'Sobrenome': 'Quemelli',
 'lista': ['Hello', 'World']}

#### Remoção de conteúdo de um dicionário

Remoção por chaves:

In [36]:
dic.pop(1)
dic

{0: 33, 2: 47, 3: 98, 4: 101, 5: 'Lucas'}

Se quisermos exibir o valor excluído:

In [37]:
new_dic = dic.pop(3)
new_dic

98

# Estruturas de repetição

## Laço FOR

### Algumas estruturas do FOR

#### Laço FOR por índice

In [58]:
lista = [20, 30, 40, 50]

for i in range(4):
    print(lista[i])

20
30
40
50

In [62]:
for index in range(4):
    print(lista[index])

20
30
40
50

In [64]:
for indice in range(4):
    print(lista[indice])

20
30
40
50

In [65]:
for coisa in range(4):
    print(lista[coisa])

20
30
40
50

In [68]:
for coisa in range(len(lista)):
    print(lista[coisa])

20
30
40
50

In [82]:
for i in range(0, 4):
    print(lista[i])

20
30
40
50

Sempre que usarmos a estrutura **for ... in range(X):** ou **for ... in range (x, y):** o Python entende que estamos trabalhando com índices. Por isso, a nomeação do índice pode ser qualquer palavra ou letra.

#### Laço FOR por elemento

In [59]:
for elemento in lista:
    print(elemento)

20
30
40
50

In [66]:
for element in lista:
    print(element)

20
30
40
50

In [67]:
for coisa in lista:
    print(coisa)

20
30
40
50

Sempre que usarmos a estrutura **for ... in NOME_DA_VARIAVEL:** o Python entende que estamos trabalhando com elementos/conteúdos da lista, da tupla, do dicionário, da matriz ou do dataframe. Por isso, podemos utilizar qualquer nome para identidicar o elemento/conteúdo.

#### Laço FOR por índice e elemento

In [73]:
for indice, elemento in enumerate(lista):
    print(indice, '|', elemento)

0 | 20
1 | 30
2 | 40
3 | 50

In [74]:
for index, element in enumerate(lista):
    print(index, '|', element)

0 | 20
1 | 30
2 | 40
3 | 50

In [75]:
for i, number in enumerate(lista):
    print(i, '|', number)

0 | 20
1 | 30
2 | 40
3 | 50

Sempre que usarmos a estrutura **for ... , ... in enumerate(NOME_DA_VARIAVEL):** o Python entende que, primeiro, estamos nomeando o índice e, segundo, estamos nomeando o elemento daquele índice. Por isso, podemos usar qualquer nomenclatura para o ínice e para o elemento.

## Laço WHILE

### Algumas estruturas do laço while

#### Laço while por índice

In [76]:
frutas = ['Morango', 'Banana', 'Mamão', 'Amora', 'Uva']

In [81]:
index = 0

while index < len(frutas):
    print(index, '|', frutas[index])
    index += 1

0 | Morango
1 | Banana
2 | Mamão
3 | Amora
4 | Uva

Note que, diferentemente do laço FOR, o laço while precisa do valor inicial do índice e de um contador.

# I/O: input/output

Crie uma aplicação que receba um arquivo .csv dos usuários com os seus nomes, idades, alturas, e se eles são casados ou não. Salve essas informações na nossa base de dados.

In [52]:
import pandas as pd

In [53]:
dataset = pd.read_csv("https://raw.githubusercontent.com/lucasquemelli/fundamentos_programacao/main/dataset/aula_03.csv")
dataset

   id       nome  idade  altura  casado
0   0      Pedro     32    1.82    True
1   1  Guilherme     23    1.82   False
2   2        Ana     29    1.79    True
3   3   Carolina     13    1.60   False

## Problema

Efetue a leitura do arquivo **heroes.csv** e crie:

* 1 - Um arquivo de saída (.csv) com todos os heróis do gênero masculino (id, nome).
* 2 - Um arquivo de saída (.csv) com todos os heróis do gênero feminino (id, nome).
* 3 - Um arquivo de saída (.csv) com todos os heróis sem gênero definido (id, nome).
* 4 - Um arquivo de saída (.txt) com o nome de todos os heróis dos estúdios Marvel e DC Comics (um nome por linha).
* 5 - Um arquivo de saída (.txt) com o nome de todos os heróis que tenham cor de pele azul e que sejam vilões (um nome por linha).

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("https://raw.githubusercontent.com/lucasquemelli/fundamentos_programacao/main/dataset/heroes.csv")
dataset.head()

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

#### Question 1

In [21]:
dataset.loc[(dataset['Gender'] == 'Male') & (dataset['Alignment'] == 'good')]

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
6,6,Adam Monroe,Male,blue,-,Blond,-99.0,NBC - Heroes,-,good,-99.0
7,7,Adam Strange,Male,blue,Human,Blond,185.0,DC Comics,-,good,88.0
...,...,...,...,...,...,...,...,...,...,...,...
724,724,Wyatt Wingfoot,Male,brown,-,Black,196.0,Marvel Comics,-,good,117.0
726,726,X-Man,Male,blue,-,Brown,175.0,Marvel Comics,-,good,61.0
728,728,Yellowjacket,Male,blue,Human,Blond,183.0,Marvel Comics,-,good,83.0
730,730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
731,731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0

In [22]:
question_one = dataset.loc[(dataset['Gender'] == 'Male') & (dataset['Alignment'] == 'good')]
question_one = question_one[['id', 'name']]
question_one

      id            name
0      0          A-Bomb
1      1      Abe Sapien
2      2        Abin Sur
6      6     Adam Monroe
7      7    Adam Strange
..   ...             ...
724  724  Wyatt Wingfoot
726  726           X-Man
728  728    Yellowjacket
730  730            Ymir
731  731            Yoda

[316 rows x 2 columns]

In [23]:
question_one.to_csv("question_one.csv")

#### Question 2

In [24]:
question_two = dataset.loc[(dataset['Gender'] == 'Female') & (dataset['Alignment'] == 'good')]
question_two = question_two[['id', 'name']]
question_two

      id             name
8      8         Agent 13
24    24       Angel Dust
25    25  Angel Salvadore
38    38          Arachne
41    41           Ardina
..   ...              ...
722  722     Wonder Woman
723  723           Wondra
725  725             X-23
729  729  Yellowjacket II
732  732          Zatanna

[161 rows x 2 columns]

In [25]:
question_two.to_csv("question_two.csv")

#### Question 3

In [10]:
dataset['Gender'].unique()

array(['Male', 'Female', '-'], dtype=object)

In [26]:
question_three = dataset.loc[(dataset['Gender'] == '-') & (dataset['Alignment'] == 'good')]
question_three = question_three[['id', 'name']]
question_three

      id              name
87    87        Bird-Brain
112  112       Blaquesmith
133  133           Box III
134  134            Box IV
160  160  Captain Universe
165  165     Cecilia Reyes
178  178              Clea
196  196            Cypher
253  253             Feral
257  257          Firelord
267  267             Forge
269  269    Franklin Storm
280  280    Ghost Rider II
422  422       Machine Man
511  511           Penance
586  586       Shadow King
623  623        Spider-Man
700  700         Vision II
717  717           Wiz Kid

In [27]:
question_three.to_csv("question_three.csv")

#### Question 4

In [13]:
dataset['Publisher'].unique()

array(['Marvel Comics', 'Dark Horse Comics', 'DC Comics', 'NBC - Heroes',
       'Wildstorm', 'Image Comics', nan, 'Icon Comics', 'SyFy',
       'Hanna-Barbera', 'George Lucas', 'Team Epic TV', 'South Park',
       'HarperCollins', 'ABC Studios', 'Universal Studios', 'Star Trek',
       'IDW Publishing', 'Shueisha', 'Sony Pictures', 'J. K. Rowling',
       'Titan Books', 'Rebellion', 'Microsoft', 'J. R. R. Tolkien'],
      dtype=object)

In [28]:
question_four = dataset.loc[((dataset['Publisher'] == 'Marvel Comics') | (dataset['Publisher'] == 'DC Comics')) & (dataset['Alignment'] == 'good')]
question_four = question_four[['name', 'Publisher']]
question_four

                name      Publisher
0             A-Bomb  Marvel Comics
2           Abin Sur      DC Comics
7       Adam Strange      DC Comics
8           Agent 13  Marvel Comics
9          Agent Bob  Marvel Comics
..               ...            ...
726            X-Man  Marvel Comics
728     Yellowjacket  Marvel Comics
729  Yellowjacket II  Marvel Comics
730             Ymir  Marvel Comics
732          Zatanna      DC Comics

[401 rows x 2 columns]

In [29]:
question_four.to_csv(r'question_four.txt', header=None, index=None, sep=' ', mode='a')

By the method above, we may select all the data from the dataframe. Yet, if we wish to select only the names, we must do:

In [30]:
question_four['name'].to_csv(r'question_four_name.txt', header=None, index=None, sep=' ', mode='a')

If we want the headers in the txt file, we must only exclude **header** in the commands above.

#### Question 5

In [19]:
question_five = dataset.loc[(dataset['Skin color'] == 'blue') & (dataset['Alignment'] == 'bad')]
question_five = question_five[['name', 'Skin color', 'Alignment']]
question_five

             name Skin color Alignment
387  Killer Frost       blue       bad
480      Mystique       blue       bad
487        Nebula       blue       bad

In [20]:
question_five.to_csv(r'question_five.txt', index=None, sep=' ', mode='a')